.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.course h1{
    font-size: 62px;
    font-weight: 600;
    color: white;
}

.course p{
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.course .row .course-col p{
    color: #777;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.course h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}